html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#canvas-container{
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  background: black;
}

.cursor{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}